@font-face {
  font-family: alberto;
  src: url(./assets/fonts/Gandom.woff) format(woff);
}
body {
  margin: 0px;
  direction: ltr;
  background-color: black;
  font-family: alberto;
}
.alllogo {
  display: flex;
  justify-content: center;
  margin-left: 200px;
}
.logo{
  display:flex ;
  left: 100px;
}

.top-container {
  background-color: black;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 30px;
}

.top-container h1 {
  margin-top: 100px;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}
.clock {
  display: flex;
  direction: ltr;
}

.clock div {
  margin: 5px;
  margin-top: 50px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  display: flex;
  background-color: rgb(57, 163, 250);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.clock .text {
  height: 30px;
  background-color: rgb(139, 0, 58);
  font-size: 1.5rem;
}
.bottom-container {
  display: flex;
  justify-content: center;
}
.text {
  font-size: large;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: rgb(184, 232, 232);
  width: 100%;
  height: 80px;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 20px;
  color: blue;
  font-size: large;
}

.bottom-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  font-family: gandom;
}

.state-container {
  color:white;
  margin: 15px;
  margin-top: 50px;
  border: solid red;
  border-radius: 10px;
  min-width: 200px;
  height: 100px;
  position: relative;
  padding: 20px;

}

.state-container h3 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

.counter {
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color:white;
}

.footer {
  background-color: black;
  color: white;
  display:flex;
  justify-content:center;
  height: 70px;
}
.icon {
  height: 45px;
  width: 45px;
  margin-left: 250px;
  margin-right: 270px;
  display: flex;
  flex-wrap: wrap;
}
.i {
  margin-left: 25px;
}
.p {
  margin-top: 30px;

}
@media(max-width: 900px) {
  .top-container h1 {
      font-size: 40px;
  }

  .bottom-container {
      flex-direction: column;
      font-size: 20px;
  }

}

@media(max-width: 600px) {
  .top-container h1 {
      font-size: 30px;
  }

  .bottom-container {
      flex-direction: column;
  }

}
#menu{
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
#menu ul li{
  display: inline-block;     
  vertical-align: top;
  list-style: none; 
  margin-top: 5px;
}
#menu ul li a{
  text-decoration: none;
  background-color: aqua;
  color: rgb(148, 19, 19);
  border: 2px aqua solid;
  padding: 10px;
  font-size: large;
}
#menu ul li a:hover{
  transition: all 1s;
  border-radius: 20px;
}
#sub-menu ul li{
  display: block;
  margin-top:30px ;
  opacity: 0;
  transition: all 1s;
}
#sub-menu:hover ul li{
  opacity: 1;
}
